SECRET_POAPIN_READ_API=
SECRET_POAP_API_KEY=
SECRET_PYLON_BASE_URL=

FARCASTER_RPC_URL=
FARCASTER_DOMAIN=
FARCASTER_SIWE_URI=

GA_TRACKING_ID=

SECRET_ANKR_API_KEY=
SECRET_POAP_GRAPHQL_BASE_URL=

ENVIRONMENT=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SES_FROM_EMAIL=